@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
  --bg-color: #3a2b80;
  --main-text: white;
  --second-color: #ef074b;
}
body {
  background-color: var(--bg-color);
  height: 100vh;
  color: var(--main-text);

}
a {
  color: var(--main-text);
  text-decoration: none;
}
.login {
  background-color: #382770;
  height: 500px;
}
button {
    background-color: var(--second-color);
    border: transparent;
    color: white;
    border-radius: 8px;
    padding: 7px 15px;
}
